@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Noto Sans', Tahoma, Geneva, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(248 250 252);
}

.box-title {
    @apply font-bold text-gray-400 text-sm tracking-wide p-1 uppercase;
}
