*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --primary: #10A9FF;
    --primary-light: #CCEDFF;
    --secondary: white;
    --inverted: #0D81C2;
    --grey: #999999;
    font-size: inherit;
}

body, table,
button, a, p,
input, div, span,
select, tr, td, th {
  font-family: 'Open Sans', ui-sans-serif, system-ui;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #10a9ff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.input,
.select {
    height: 40px;
    padding: 12px 8px;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.input:focus,
.select:focus {
    border: 1px solid var(--primary);
}

.input::placeholder {
    color: var(--grey);
}

.select {
    cursor: pointer;
    appearance: none;
    padding-right: 4px;
    background-image: linear-gradient(
            45deg,
            transparent 50%,
            var(--primary) 50%
        ),
        linear-gradient(135deg, var(--primary) 50%, transparent 50%),
        linear-gradient(to right, white, white);
    background-position: calc(100% - 15px) calc(1.2em + 2px),
        calc(100% - 10px) calc(1.2em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 3.2em;
    background-repeat: no-repeat;
    min-width: 100px;
}

.radio {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 24px;
}

.radio input[type="radio"] {
    display: none;
}

.radio span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    display: block;
    cursor: pointer;
    position: absolute;
    top: 2px;
    left: 0;
}

.radio span:after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--primary);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 250ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span:after {
    transform: translate(-50%, -50%) scale(1);
}

.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid var(--primary);
    border-radius: 3px;
}

.checkbox input[type="checkbox"]::after {
    content: url('/img/check.png');
    width: 15px;
    height: 15px;
    position: absolute;
    top: 1px;
    left: 2px;
    transform: scale(0);
    transition: 250ms ease-in-out 0s;
}

.checkbox input[type="checkbox"]:checked::after {
    transform: scale(1);
}

.box-title {
    @apply font-bold text-gray-400 text-sm tracking-wide p-1 mb-3 uppercase;
}

li.item {
    background-image: url('/img/circle-item.svg');
    background-position: 0 7px;
    padding-left: .75rem;
    background-repeat: no-repeat;
    background-size: 5px 5px;
    color: #FF9801;
}

.gr-select {
    position: relative;
    display: block;
    cursor: pointer;
    appearance: none;
    background-color: white;
    line-height: inherit;
    padding: 10px 10px;
    background-image: url('/img/select-arrow.png');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    font-size: 13px;
}

.bg-hero {
    @apply absolute inset-0 z-10 bg-[url('/img/hero-desktop.webp')] opacity-75 blur-sm bg-cover bg-center;
}

.register-form {
    @apply z-20 p-10 flex flex-col justify-center gap-2 bg-white w-full max-w-[330px] md:max-w-[450px] lg:max-w-[480px] lg:h-[530px] rounded-xl;
}